.github

# Ignore local secrets and configs
.env
accounts.yml
accounts.yml.backup

# possible backups made into deployment folder
*.tgz
*.tar.gz

# Mail storage and runtime
maildata/
rcdata/
certs/
logs/

# Docker compose
docker-compose.override.yml
